<div class="container">
  <div class="controls">
    <h1>2.009blinky <span class="ver">v0.1</span></h1>
    <div>
      <button class="command" data-func="allon">all on</button>
    </div>
    <div>
      <button class="command" data-func="wave">wave</button>
    </div>
    <div>
      <button class="command" data-func="beacon">beacon</button>
    </div>
    <div>
      <button class="command" data-func="slots">slots</button>
    </div>
    <div class="option2 wave-options">
      <h2>Wave Options</h2>
      <button class="run-btn" data-func="wave">START</button>
    </div>
    <div class="option2 beacon-options">
      <h2>Beacon Options</h2>
      <div class="beacon-text">
        click on seat location to start pulses
      </div>
    </div>
    <div class="option2 slots-options">
      <h2>Slots Options</h2>
      <button class="color-btn redA" data-func="slots">START</button>
      <button class="color-btn grnA" data-func="slots">START</button>
      <button class="color-btn bluA" data-func="slots">START</button>
      <button class="color-btn ylwA" data-func="slots">START</button>
      <button class="color-btn pnkA" data-func="slots">START</button>
      <button class="color-btn slvA" data-func="slots">START</button>
      <button class="color-btn orgA" data-func="slots">START</button>
      <button class="color-btn purA" data-func="slots">START</button>
    </div>
    <div class="option2 allon-options">
      <h2>All On Options</h2>
      <button class="allon-btn redA" data-func="allon">SET</button>
      <button class="allon-btn grnA" data-func="allon">SET</button>
      <button class="allon-btn bluA" data-func="allon">SET</button>
      <button class="allon-btn ylwA" data-func="allon">SET</button>
      <button class="allon-btn pnkA" data-func="allon">SET</button>
      <button class="allon-btn slvA" data-func="allon">SET</button>
      <button class="allon-btn orgA" data-func="allon">SET</button>
      <button class="allon-btn purA" data-func="allon">SET</button>
    </div>
    <button class="blackout blackout-btn">Blackout</button>
  </div>
  <div class="map">
  </div>
</div>
