<div class="container">
  <div class="controls">
    <h1>2.009blinky <span class="ver">v0.1</span></h1>
    <div>
      <button class="command" data-func="allon">all on</button>
    </div>
    <div>
      <button class="command" style="width:49.5%; display:inline; float:left" data-func="wave">wave</button>
      <button class="command" style="width:49.5%; display:inline; float:right" data-func="rainbow">rainbow</button>
    </div>
    <div>
      <button class="command" style="width:49.5%; display:inline; float:left" data-func="propagate">propagate <br> row</button>
      <button class="command" style="width:49.5%; display:inline; float:right" data-func="propagate-random">propagate <br> random</button>
    </div>
    <div>
      <button class="command" style="width:49.5%; display:inline; float:left" data-func="twinkle">Random <br> Twinkle</button>
      <button class="command" style="width:49.5%; display:inline; float:right" data-func="team-twinkle">Team <br> Twinkle</button>
    </div>
    <div>
      <button class="command" style="width:49.5%; display:inline; float:left" data-func="paparazzi">paparazzi <br> lights</button>
      <button class="command" style="width:49.5%; display:inline; float:right" data-func="flicker">flicker <br> color</button>
    </div>
    <!--<div>
      <button class="command" data-func="beacon">beacon</button>
    </div>-->
    <div>
      <button class="dim dim-btn" style="width:49.5%; display:inline; float:left" data-func="dim">Dim</button>
      <button class="fade fade-btn" style="width:49.5%; display:inline; float:right" data-func="fade">Fade Down</button>
    </div>
    <div>
      <button class="command" data-func="retract">retract</button>
    </div>
    <div class="option2 wave-options">
      <h2>Wave Options</h2>
      <button class="run-btn" data-func="wave">START</button>
      <button>Rate (W &uarr; &nbsp; S &darr;)<br> <span style="color:white" id="waverate"></span></button>
    </div>
    <div class="option2 rainbow-options">
      <h2>Rainbow Options</h2>
      <button class="run-btn" data-func="rainbow">START</button>
      <button>Rate (W &uarr; &nbsp; S &darr;)<br> <span style="color:white" id="rainbowrate"></span></button>
    </div>
    <div class="option2 twinkle-options">
      <h2>Twinkle Options</h2>
      <button class="run-btn" data-func="twinkle">START</button>
      <button>Brightness (W &uarr; &nbsp; S &darr;)<br> <span style="color:white" id="twinkle-brightness"></span></button>
      <button>Rate (&larr; A &nbsp; D &rarr;)<br> <span style="color:white" id="twinkle-rate"></span></button>
    </div>
    <div class="option2 team-twinkle-options">
      <h2>Team Twinkle Options</h2>
      <button class="run-btn" data-func="team-twinkle">START</button>
    </div>
    <div class="option2 paparazzi-options">
      <h2>Paparazzi Options</h2>
      <button class="run-btn" data-func="paparazzi">START</button>
      <button>Probability (W &uarr; &nbsp; S &darr;)<br> <span style="color:white" class="prob"></span></button>
    </div>
    <div class="option2 beacon-options">
      <h2>Beacon Options</h2>
      <div class="beacon-text">
        click on seat location to start pulses
      </div>
    </div>
    <div class="option2 retract-options">
      <h2>Retract Options</h2>
      <button class="run-btn" data-func="retract">START</button>
    </div>
    <div class="option2 propagate-options">
      <h2>Propagate Options</h2>

      <button class="color-btn ylwA" data-func="propagate" data-color="yellow">BEGIN</button>
      <button class="color-btn bluA" data-func="propagate" data-color="blue">BEGIN</button>

      <button class="color-btn orgA" data-func="propagate" data-color="orange">BEGIN</button>
      <button class="color-btn redA" data-func="propagate" data-color="red">BEGIN</button>

      <button class="color-btn pnkA" data-func="propagate" data-color="pink">BEGIN</button>
      <button class="color-btn grnA" data-func="propagate" data-color="green">BEGIN</button>

      <button class="color-btn purA" data-func="propagate" data-color="purple">BEGIN</button>
      <button class="color-btn slvA" data-func="propagate" data-color="silver">BEGIN</button>

    </div>

    <div class="option2 propagate-random-options">
      <h2>Propagate Options</h2>

      <button class="color-btn ylwA" data-func="propagate-random" data-color="yellow">BEGIN</button>
      <button class="color-btn bluA" data-func="propagate-random" data-color="blue">BEGIN</button>

      <button class="color-btn orgA" data-func="propagate-random" data-color="orange">BEGIN</button>
      <button class="color-btn redA" data-func="propagate-random" data-color="red">BEGIN</button>

      <button class="color-btn pnkA" data-func="propagate-random" data-color="pink">BEGIN</button>
      <button class="color-btn grnA" data-func="propagate-random" data-color="green">BEGIN</button>

      <button class="color-btn purA" data-func="propagate-random" data-color="purple">BEGIN</button>
      <button class="color-btn slvA" data-func="propagate-random" data-color="silver">BEGIN</button>
    </div>

    <div class="option2 allon-options">
      <h2>All On Options</h2>

      <button class="allon-btn ylwA" data-func="allon" data-color="yellow">SET</button>
      <button class="allon-btn bluA" data-func="allon" data-color="blue">SET</button>

      <button class="allon-btn orgA" data-func="allon" data-color="orange">SET</button>
      <button class="allon-btn redA" data-func="allon" data-color="red">SET</button>

      <button class="allon-btn pnkA" data-func="allon" data-color="pink">SET</button>
      <button class="allon-btn grnA" data-func="allon" data-color="green">SET</button>

      <button class="allon-btn purA" data-func="allon" data-color="purple">SET</button>
      <button class="allon-btn slvA" data-func="allon" data-color="silver">SET</button>
    </div>

    <div class="option2 flicker-options">
      <h2>Flicker Options</h2>

      <button class="color-btn ylwA" data-func="flicker" data-color="yellow">FLICKER</button>
      <button class="color-btn bluA" data-func="flicker" data-color="blue">FLICKER</button>

      <button class="color-btn orgA" data-func="flicker" data-color="orange">FLICKER</button>
      <button class="color-btn redA" data-func="flicker" data-color="red">FLICKER</button>

      <button class="color-btn pnkA" data-func="flicker" data-color="pink">FLICKER</button>
      <button class="color-btn grnA" data-func="flicker" data-color="green">FLICKER</button>

      <button class="color-btn purA" data-func="flicker" data-color="purple">FLICKER</button>
      <button class="color-btn slvA" data-func="flicker" data-color="silver">FLICKER</button>

      <button>Probability (W &uarr; &nbsp; S &darr;)<br> <span style="color:white" class="prob"></span></button>
    </div>

    <br>
    <h2>TEAM COLOR Hotkeys</h2>
    <p style="text-align:center"><span class="whtA">&nbsp;L&nbsp;</span><span class="redA">&nbsp;R </span> <span class="orgA">&nbsp;O </span> <span class="ylwA">&nbsp;Y </span> <span class="grnA">&nbsp;G </span> <span class="bluA">&nbsp;B </span> <span class="slvA">&nbsp;V </span> <span class="pnkA">&nbsp;P </span> <span class="purA">&nbsp;U&nbsp;</span><span class="blkB">&nbsp;X&nbsp;</span><p>
    <button class="blackout blackout-btn">Blackout</button>
  </div>

  <div class="map">
  </div>
  <div class="bash">
    <input class="prompt" type="text">
    <div class="response">
    </div>
  </div>

  <div class="color-controls">
      <h2>Team Colors</h2>
      <h2>USE HEX VALUES</h2>
      <h2 style="color:red">Reserved: <br> 2B 2F 35 37</h2>
      <br>
      <div class="control-red    color-input redA" data-color="red"   ><input id="red-0"></input><input id="red-1"></input><input id="red-2"></input></div>
      <div class="control-green  color-input grnA" data-color="green" ><input id="green-0"></input><input id="green-1"></input><input id="green-2"></input></div>
      <div class="control-blue   color-input bluA" data-color="blue"  ><input id="blue-0"></input><input id="blue-1"></input><input id="blue-2"></input></div>
      <div class="control-yellow color-input ylwA" data-color="yellow"><input id="yellow-0"></input><input id="yellow-1"></input><input id="yellow-2"></input></div>
      <div class="control-pink   color-input pnkA" data-color="pink"  ><input id="pink-0"></input><input id="pink-1"></input><input id="pink-2"></input></div>
      <div class="control-silver color-input slvA" data-color="silver"><input id="silver-0"></input><input id="silver-1"></input><input id="silver-2"></input></div>
      <div class="control-orange color-input orgA" data-color="orange"><input id="orange-0"></input><input id="orange-1"></input><input id="orange-2"></input></div>
      <div class="control-purple color-input purA" data-color="purple"><input id="purple-0"></input><input id="purple-1"></input><input id="purple-2"></input></div>
      <br>
      <h2>BLACKOUT<h2>
      <div class="control-blackout blkB" data-color="blackout"><input id="blackout-0"></input><input id="blackout-1"></input><input id="blackout-2"></input></div>
  </div>

</div>
