<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/firebase.js" /></script>
    <script type="text/javascript" src="/javascripts/seatmapping.js" /></script>
    <script type="text/javascript" src="/javascripts/colors.js" /></script>
    <script type="text/javascript" src="/javascripts/helpers.js" /></script>
    <script type="text/javascript" src="/javascripts/main.js" /></script>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/color.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
