/* ==========================================================================
RED
========================================================================== */
.redA {
  background-color: #d61b29;
}

.redB, .redA:hover {
  background-color: #d32f2f;
}


/* ==========================================================================
GRN
========================================================================== */
.grnA {
  background-color: #2bb20a;
}
.grnB, .grnA:hover {
  background-color: #388e3c;
}


/* ==========================================================================
BLU
========================================================================== */
.bluA {
  background-color: #1f5cd4;
}

.bluB, .bluA:hover {
  background-color: #1976d2;
}

/* ==========================================================================
YLW
========================================================================== */
.ylwA {
  background-color: #f6c900;
}

.ylwB, .ylwA:hover {
  background-color: #f9ce1d;
}

/* ==========================================================================
PNK
========================================================================== */
.pnkA {
  background-color: #fc40be;
}
.pnkB, .pnkA:hover {
  background-color: #e91e63;
}

/* ==========================================================================
ORG
========================================================================== */
.orgA {
  background-color: #f8660a;
}
.orgB, .orgA:hover {
  background-color: #ff5722;
}

/* ==========================================================================
PUR
========================================================================== */
.purA {
  background-color: #9100ff;
}
.purB, .purA:hover {
  background-color: #9c27b0;
}

/* ==========================================================================
SLV
========================================================================== */
.slvA {
  background-color: #9e9e9e;
}
.slvB, .slvA:hover {
  background-color: #757575;
}

/* ==========================================================================
BLK
========================================================================== */
.blkA {
  background-color: #434343;
}
.blkB {
  background-color: #212121;
}

/* ==========================================================================
WHT
========================================================================== */
.whtA {
  color: black;
  background-color: #fff;
}
.whtB {
  color: black;
  background-color: #ffffff;
}



/* ==========================================================================
RED
========================================================================== */
.tredA {
  color: #ff1744;
}

.tredB {
  color: #d32f2f;
}


/* ==========================================================================
GRN
========================================================================== */
.tgrnA {
  color: #4caf50;
}
.tgrnB {
  color: #388e3c;
}


/* ==========================================================================
BLU
========================================================================== */
.tbluA {
  color: #03a9f4;
}

.tbluB {
  color: #1976d2;
}

/* ==========================================================================
YLW
========================================================================== */
.tylwA {
  color: #ffeb3b;
}

.tylwB {
  color: #f9ce1d;
}

/* ==========================================================================
PNK
========================================================================== */
.tpnkA {
  color: #ff4081;
}
.tpnkB {
  color: #e91e63;
}

/* ==========================================================================
ORG
========================================================================== */
.torgA {
  color: #ff9800;
}
.torgB {
  color: #ff5722;
}

/* ==========================================================================
PUR
========================================================================== */
.tpurA {
  color: #d500f9;
}
.tpurB {
  color: #9c27b0;
}

/* ==========================================================================
SLV
========================================================================== */
.tslvA {
  color: #9e9e9e;
}
.tslvB {
  color: #757575;
}

/* ==========================================================================
BLK
========================================================================== */
.tblkA {
  color: #434343;
}
.tblkB {
  color: #212121;
}

/* ==========================================================================
WHT
========================================================================== */
.twhtA {
  color: #fff;
}
.twhtB {
  color: #ffffff;
}





/* ==========================================================================
RED
========================================================================== */
.hredA:hover {
  background-color: #ff1744 !important;
}

.hredB:hover {
  background-color: #d32f2f !important;
}


/* ==========================================================================
GRN
========================================================================== */
.hgrnA:hover {
  background-color: #4caf50 !important;
}
.hgrnB:hover {
  background-color: #388e3c !important;
}


/* ==========================================================================
BLU
========================================================================== */
.hbluA:hover {
  background-color: #03a9f4 !important;
}

.hbluB:hover {
  background-color: #1976d2 !important;
}

/* ==========================================================================
YLW
========================================================================== */
.hylwA:hover {
  background-color: #ffeb3b !important;
}

.hylwB:hover {
  background-color: #f9ce1d !important;
}

/* ==========================================================================
PNK
========================================================================== */
.hpnkA:hover {
  background-color: #ff4081 !important;
}
.hpnkB:hover {
  background-color: #e91e63 !important;
}

/* ==========================================================================
ORG
========================================================================== */
.horgA:hover {
  background-color: #ff9800 !important;
}
.horgB:hover {
  background-color: #ff5722 !important;
}

/* ==========================================================================
PUR
========================================================================== */
.hpurA:hover {
  background-color: #d500f9 !important;
}
.hpurB:hover {
  background-color: #9c27b0 !important;
}

/* ==========================================================================
SLV
========================================================================== */
.hslvA:hover {
  background-color: #9e9e9e !important;
}
.hslvB:hover {
  background-color: #757575 !important;
}

/* ==========================================================================
BLK
========================================================================== */
.hblkA:hover {
  background-color: #434343 !important;
}
.hblkB:hover {
  background-color: #212121 !important;
}

/* ==========================================================================
WHT
========================================================================== */
.hwhtA:hover {
  background-color: #fff !important;
}
.hwhtB:hover {
  background-color: #ffffff !important;
}















